body {
  background-color: #ffff;
}


header {
text-align: center;
padding : 2em;
color: #df8814;
background-color: #FFFBE8;
border-bottom-right-radius: 45px;
border-bottom-left-radius: 45px;
height: 300px

}




.portfolio {
  font-size: 40px;

}


nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color : #7a4b0d;
}

a:hover {
  color: #e78e1a;
}


@media (min-width : 700px) {
  #main-menu {
    position: relative;
    left:auto;
    top: auto;
    width: 100%;
  }


  #main-menu ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #df8814;

  }




#projets h3 {
  margin: 1.5em;
  color: #763516;
  text-align: center;

}

#photos h3 {
  margin: 1.5em;
  color: #763516;
  text-align: center;

}

#àpropos h3 {
  text-align: center;
  margin: 1.5em;
  color: #763516;
}


.lino-txt {
  display: flex;
justify-content: center;
font-size: 30px;
margin: 1em;

}


.edition-txt {
  display: flex;
justify-content: center;
font-size: 30px;
margin: 1em;

}


.aqua-txt {
  display: flex;
justify-content: center;
font-size: 30px;
margin: 1em;
}


.layout-txt {
  display: flex;
justify-content: center;
font-size: 30px;
margin: 1em;

}


.identite-txt {
  display: flex;
justify-content: center;
font-size: 30px;
margin: 1em;

}

.rough-txt {
  display: flex;
justify-content: center;
font-size: 30px;
margin: 1em;

}


.project-feature {
  margin-bottom: 2em;
  flex-grow: 0;
  flex-basis: 300px;

}

.project-feature img {
  max-width: 550px;
  border-radius: 45px;
  display: flex;
  transition: 0.3s ease all;

}


.project-feature img:hover{
  opacity: 0.4;

}

.project-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}



.photos-container {
  max-width: 1000px;
  margin: auto;
  padding : 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photos {
  padding: 1em;
  margin-bottom: 3em;
  flex-basis : 300px;
}

.photos img {
  object-fit: cover;
  height: 600px;
  width: 300px;
  transition: 0.3s ease all;
}

.photos img:hover {
  opacity: 0.4;
}

.position-photos {
  display: grid;
  margin-top: 40px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.position-photos img {
  width :   900px;
  height:   100%;
  object-fit: cover;
}


#àpropos figure {
display: flex;
justify-content: center;
align-items: center;
}


#àpropos p{
  text-align: justify;
  padding: 3em;
line-height: 21px;

}

footer {
  background-color: #FFFBE8;
  border-top: 1px solid #df8814;
}

#contact h1 {
  text-align: center;
  margin: 0.5em;
color: #763516;
}

#contact p {
  text-align: center;
  justify-content: space-around;
padding-bottom: 1.5em;
}


.lino-container img {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  border-radius: 75px;
}

.aquarelle-container img {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  border-radius: 75px;
}

.edition-container img {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

.idvisuelle-container img {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  border-radius: 75px;
}

.rough-container img {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  border-radius: 75px;
}

.typo-container img {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  border-radius: 75px;
}
