body {
  background-color: #ffff;
}
section {
  border-top: 2.3px solid #ffdf9f;
  min-height: 99vh;

}

header {
text-align: center;
padding : 3em;
color: #df8814;
background-color: #ffff;
}

#conteneur {
display: flex;
flex-direction: row;
justify-content: center;
}


#conteneur a {
  padding: 1em;
}



#projects h1 {
  text-align: center;
  margin: 1.5em;
  color: #763516;
}

#photos h1 {
  text-align: center;
  margin: 1.5em;
  color: #763516;
}

#aboutme h1 {
  text-align: center;
  margin: 1.5em;
  color: #763516;
}


.project-feature {
  padding: 1em;
  margin-bottom: 1em;
  flex-grow: 0;
  flex-basis: 300px;
}

.project-feature img {
  max-width: 550px;
  border-radius: 23px;
}

.project-feature h2 {
  margin : 10px;
}

.project-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}




.photos-feature {
  padding: 1em;
  margin-bottom: 1em;
  flex-grow: 0;
  flex-basis: 300px;

}

.photos-box-container {
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 600px;
  margin: auto;
}

#contact h3 {
  padding: 1em;
  text-align: center;
}

#contact p {
  text-align: center;
  margin: auto;
  justify-content: space-around;
}
